[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Pixum Fotoboek
Name[de]=Pixum Fotoboek
StartupNotify=true
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/pixum-fotoboek.png
Exec=pixum-fotoboek
Categories=Graphics;
MimeType=application/x-hps-mcf
