[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Pixum Fotowereld
Name[de]=Pixum Fotowereld
StartupNotify=true
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/pixum-fotowereld.png
Exec=pixum-fotowereld
Categories=Graphics;
MimeType=application/x-hps-mcf
